@charset "UTF-8";

	*{
		font-family: 'Noto Sans KR', sans-serif;
		list-style: none;
		text-decoration: none;
		border-collapse: collapse;
		margin: 0px;
		padding: 0px;
		color: #000;
	}
	


/* ------------------ 헤더 영역 ------------------ */

	.header{
		display: flex;
		width: 1280px;
		margin:auto;
		height: 86px;
	}
	.intro_bg {
		background-color : white;
		padding-left : 200px;
	}
	.searchArea{
		width: 300px;
		height: 40px;
		background: rgba(0,0,0,0,5);
		border-radius: 5px;
		margin-top:24px;
	}
	.searchArea > form > span{
		width:50px;
		color:black;
		font-weight: bold;
		font-size : 13px;
		cursor: pointer;
	}
	.searchArea > form > input{
		border-bottom: teal 1px solid;
		border-left: medium none;
		border-right: medium none;
		border-top: medium none;

		width:210px;
		height:30px;
		background: rgba(0,0,0,0);
		color:black;
		padding-left:10px;
		margin-left : 30px;
		margin-top : 6px;
	}
	.nav{
		display: flex;
		justify-content: flex-end;
		line-height: 86px;
		width: calc(1280-300px);
	}
	.nav > li{
		margin-left : 65px;
	}
	.nav > li > a{
		color:black;
		font-weight: bold;
		font-size : 13px;
	}
	
	
	
/* ------------------ 회원가입 텍스트 영역 ------------------ */

	.textwrap {
		position : relative;
	}
	.imgbg {
		width : 100%;
		vertical-align : middle;
	}
	.bgimg {
		margin-left : 189.8px;
		margin-top : 30px;
		border-radius : 15px;
	}
	
	
	.maintext {
		text-align : center;
		position : absolute;
		top : 6%;
		left : 41%;
	}
	.container {
		width : 730px;
		margin : 0 auto;
	}
	.required {
		float : right;
		margin-right : 35px;
		padding-top : 5px;
		font-size : 12.5px;
	}
	
	
	.base_table {
		margin-top : 89px;
	}
	table {
		width : 85%;
		margin : auto;
    	border-collapse: collapse;
    	margin-top : -50px;
	}
	tr > th:first-child {
		margin-left : 10px;
		padding-right : 60px;
		padding-bottom : 10px;
		text-align : left;
		font-size : 14px;
	}
	tr > th:last-child {
		padding-left : -10px;
		padding-bottom : 10px;
		text-align : left;
		font-size : 14px;
	}
	tr > th:first-child > input[title] {
		width : 190px;
		height : 35px;
	}
	
	tr > th:first-child > input[value] {
		width : 90px;
		height : 37px;
		cursor : pointer;
		background-color : #666666;
		color : white;
		border : none;
	}
	
	#pwChk {
		padding-top : 18px;
	}
	
	th > input {
		border: 1px solid #d3d3d3;
		margin-top : 5px;
		margin-bottom : -20px;
		border-radius : 5px;
		width : 300px;
		height : 35px;
	}
	

	tr:last-child > th:first-child > input {
		width : 90px;
		height : 35px;
		margin-bottom : -1px;
	}
	tr:last-child > th:first-child > input[value] {
		width : 100px;
		height : 37px;
		cursor : pointer;
		background-color : #666666;
		color : white;
		border : none;
	}
	tr:last-child > th:first-child > input[placeholder] {
		width : 300px;
		height : 35px;
	}
	select {
		border: 1px solid #d3d3d3;
		border-radius : 5px;
		width : 70px;
		height : 35px;
	}
	tr:last-child > th:last-child {
		padding-top : -10px;
	}
	tr:last-child > th:last-child > input {
		width : 300px;
		height : 35px;
		margin-bottom : 20px;
	}
	
	/* 성별 input */
	tr:last-child > th:last-child > input[id] {
		width : 13px;
		height : 13px;
		margin-top : 15px;
		margin-bottom : 10px;
	}
	
	
/* ------------------ 회원가입 버튼 ------------------ */

	.btn_image {
		border : 1px solid #E2E2E2;
		border-radius : 30px;
		width : 540px;
		height : 50px;
		cursor : pointer;
		background-color : white;
		font-size : 16px;
		color : black;
		margin-top : 43px;
		box-shadow : 6px 10px 30px -11px #DBDBDB;
		transition : all 0.4s;
	}
	.btn_image:hover {
		color : white;
		background-color : #13D4E8;
		border : none;
		border-radius : 30px;
		box-shadow : 6px 10px 30px -10px #82D1CB;
	}
	.button {
		width : 78%;
		margin : auto;
		margin-top : -20px;
	}
	
	
	
/* ------------------ footer ------------------ */

	footer{
		display: flex;
		background: black;
	}
		
	footer > div:first-child{
		flex:3;
		text-align: center;
		color: #fff;
		font-size : 12px;
	}
	
	footer > div:last-child{
		flex:9;
		color: #fff;
		font-size : 12px;
	}